mnt/
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
.pytest_cache/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Checkpoints & model weights
checkpoints*/
outputs/
logs/
*.pth
*.pt
*.bin

# Logs
*.log

# Envs
venv/
.venv/

# OS / editor
.DS_Store
.Trash-0/
.dockercompose.un~
