mnt/
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Checkpoints & model weights
checkpoints*/
*.pth
*.pt
*.bin

# Logs
*.log

# LaTeX build artifacts
latex/*.aux
latex/*.fdb_latexmk
latex/*.fls
latex/*.out
latex/*.synctex.gz

# Envs
venv/
.venv/

# OS / editor
.DS_Store
.Trash-0/
.dockercompose.un~
pictures/
